<div class="flex-center column">
    <img [src]="'./assets/Elpida_Unknown_Icon.svg'"
         alt="Elpida icon with question mark"
         loading="lazy">
    <h1>Error!</h1>
    <h1 *ngIf="status">{{status}}: {{statusText}}</h1>
    <app-group-box [title]="'Details'">
        <div style="padding: 1em;">
            <div>
                <b>Message:</b> {{message}}
            </div>
            <div *ngIf="responseData">
                <b>Response Data:</b> <code [innerHTML]="responseData"></code>
            </div>

            <div *ngIf="stackTrace">
                <b>Stack trace:</b> <code [innerHTML]="stackTrace"></code>
            </div>
        </div>
    </app-group-box>
    <p>Please report this <a [href]="reportUrl">here</a> with as much details as possible.</p>
</div>
