.collection {
    display: flex;
    flex-direction: column;
}

.collection-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.loading-indicator {
    position: relative;
    left: 50%;
    top: 50%;
}
