<div class="flex-center column">

    <div class="collection-controls flex-center row">

        <button *ngIf="showFilters"
                (click)="onFiltersButtonClick()"
                [ngClass]="{'active': filtersPanelShown}"
                class="button non-a-button medium">
            Show Filters
        </button>

        <button class="button non-a-button medium" (click)="revertPage()">
            Revert page
        </button>

        <label>
            Search:
            <input (keyup)="onSearch($event)"
                   *ngIf="showSearchBox"
                   [(ngModel)]="searchString"
                   [placeholder]="searchName + ' (Enter)'"
                   type="search">
        </label>
    </div>

    <app-group-box *ngIf="filtersPanelShown" [title]="'Query editor'">
        <div class="flex-center row">
            <button style="margin: 1em" class="button non-a-button medium @SimpleButtonActiveClass"
                    [ngClass]="{'active': !advancedShown}" (click)="onSimpleClicked()">
                Simple
            </button>
            <button class="button non-a-button medium" [ngClass]="{'active': advancedShown}"
                    (click)="onAdvancedClicked()">
                Advanced
            </button>
        </div>

        <div *ngIf="filtersPanelShown">
            <app-collection-filters *ngIf="!advancedShown; else filterPool" (submitted)="onFiltersSubmitted($event)"
                                    [query]="currentQuery">
            </app-collection-filters>
            <ng-template #filterPool>
                <app-filter-pool [availableFilters]="service.createAdvancedQuery().filters" (submitted)="onFiltersSubmitted($event)"></app-filter-pool>
            </ng-template>
        </div>

    </app-group-box>

    <div *ngIf="pagedResult; else elseBlock">
        <p>Records found: {{valueConverter.convertToSI(pagedResult.totalCount, 0)}}, Pages: {{maxResultPages}}</p>
        <ul #itemContainer>
            <li *ngFor="let item of pagedResult.items" class="collection-item">
                <ng-container
                        *ngTemplateOutlet="itemTemplate; context: {$implicit: 'no-data', itemModel: item}"></ng-container>
            </li>
        </ul>
    </div>

    <ng-template #elseBlock>
        <app-loading-indicator></app-loading-indicator>
    </ng-template>

    <app-paging (pageChanged)="onPageChange($event)"
                *ngIf="pagedResult"
                [pagesCount]="maxResultPages">
    </app-paging>

</div>