.elpida-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.compiler-logo-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.compiler-img {
    width: 10em;
    padding: 1em;
}