<h2>Dowload Elpida</h2>
<p>
    You can download Elpida application binaries for Windows and Linux:
</p>
<div class="button-group">
    <h3>Windows:</h3>
    <a class="button" [href]="linksService.windowsLatestBeta">Beta Zip (x86-64)</a>

    <h3>Linux:</h3>
    <a class="button" [href]="linksService.linuxLatestBeta">Beta AppImage (x86-64)</a>

    <h3>Source code:</h3>
    <a class="button" [href]="linksService.latestSource">Latest Source</a>
    <a [href]="linksService.sourceCodeRepo">Git Repository</a>
</div>
