<h2>Dowload Elpida</h2>
<p>
    You can download Elpida application binaries for Windows and Linux:
</p>
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-primary">Windows 10 x86-64</button>
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-primary">Linux AppImage</button>
    </div>
    <div class="col-sm">
    </div>
</div>

<hr/>
<p>
    You can download Elpida application source:
</p>
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-primary">Latest Source</button>
    </div>
    <div class="col-sm">
        <a href="https://gitlab.com/dev-hood/elpida/elpida">Git Repository</a>
    </div>
    <div class="col-sm">
    </div>
</div>
