.result-item {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
}

.score-value-container {
    justify-self: right;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}