<a [routerLink]="['/cpu/', item.id]" class="collection-item collection-item-container">
    <img [src]="'./assets/cpus/'+ item.vendor + '.svg'"
         [alt]="item.vendor"
         loading="lazy"
         class="collection-item-img">
    <div>
        <h3 class="collection-item-detail">
            {{item.modelName}}
        </h3>
        <div>
            <strong>Task types: </strong>
            <span>{{item.benchmarkStatisticsCount}}</span>
        </div>
        <div>
            <strong>Topology types: </strong>
            <span>{{item.topologiesCount}}</span>
        </div>
    </div>
</a>