.navbar {
  background-color: #c7cdf9;
  display: flex;
  padding: 1rem;
  position: relative;
}

.nav-logo {
  display: grid;
  place-items: center;
}

.nav-item-container {
  flex-grow: 1;
  justify-content: end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
}
