<header class="header">
    <div class="container header-container">
        <a [routerLink]="['/']" class="flex-center">
            <img alt="Elpida Logo" class="logo" src="./assets/Elpida_Logo.svg"/>
        </a>
        <nav>
            <div (click)="toggle()" class="menu-toggler"></div>
            <div [ngClass]="{'collapse': !isExpanded}" class="nav-links">
                <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/']"
                   class="button">
                    <app-icon-with-text [imgSrc]="'./assets/home.svg'">
                        Home
                    </app-icon-with-text>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/Download']" class="button">
                    <app-icon-with-text [imgSrc]="'./assets/download.svg'">
                        Download
                    </app-icon-with-text>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/Database']" class="button">
                    <app-icon-with-text [imgSrc]="'./assets/categories/database.svg'">
                        Database
                    </app-icon-with-text>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/Statistics']" class="button">
                    <app-icon-with-text [imgSrc]="'./assets/categories/statistics.svg'">
                        Statistics
                    </app-icon-with-text>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/Database/Result']" class="button">
                    <app-icon-with-text [imgSrc]="'./assets/categories/results-o.svg'">
                        Results
                    </app-icon-with-text>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/About']" class="button">
                    <app-icon-with-text [imgSrc]="'./assets/categories/elpida-versions-o.svg'">
                        About
                    </app-icon-with-text>
                </a>
            </div>
        </nav>
    </div>
</header>
