a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-weight: bold;
  font-size: 1.8em;
}

.navbar {
  background-color: #c7cdf9;
}

.nav-item {
  background-color: rgb(203, 199, 247);
  border: 1px solid rgb(158, 159, 238);
  min-width: 8em;
  text-align: center;
}

.nav-item:hover {
  background-color: rgb(221, 219, 243);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-item.link-active > a {
  background-color: rgb(137, 142, 226);
  color: white;
}
