.navbar {
    background-color: #c7cdf9;
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    position: relative;
}

.nav-logo {
    display: flex;
    place-items: center;
}

.logo-img {
    height: 3.5em;
}

.nav-container {
    display: flex;
}

.nav-item-container {
    flex-grow: 1;
    justify-content: end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, max-content));
}
