<div class="carousel-container">

    <div class="carousel-panel-container">
        <div *ngFor="let panel of panelData"
             [class]="panel.classes"
             (animationend)="animationEnd()"
             class="carousel-panel">
            <ng-container *ngTemplateOutlet="panel.template; context: {context: panel}">
            </ng-container>
        </div>
    </div>

    <ol class="carousel-tab-button-container">
        <li *ngFor="let panel of panelData; index as i"
            class="carousel-tab-button">
            <button class="button small"
                    [ngClass]="{'active': isThePanelCurrent(panel)}"
                    (click)="onPanelButtonClicked(panel)">
                {{i + 1}}
            </button>
        </li>
    </ol>

    <button class="carousel-previous-button"
            aria-label="Previous"
            (click)="onPreviousClicked()">&laquo;</button>
    <button class="carousel-next-button"
            aria-label="Next"
            (click)="onNextClicked()">&raquo;</button>
</div>
