<h2>Choose what data you want to see</h2>
<div>

    <a href="./#/database" class="collection-item collection-item-container">
        <img [src]="'./assets/categories/results.svg'"
             [alt]="'results'"
             loading="lazy"
             class="collection-item-img">
        <div>
            <h3 class="collection-item-detail">
                Results
            </h3>
        </div>
    </a>

    <a href="./#/database" class="collection-item collection-item-container">
        <img [src]="'./assets/categories/cpus.svg'"
             [alt]="'results'"
             loading="lazy"
             class="collection-item-img">
        <div>
            <h3 class="collection-item-detail">
                Cpus
            </h3>
        </div>
    </a>

    <a href="./#/database" class="collection-item collection-item-container">
        <img [src]="'./assets/categories/topologies.svg'"
             [alt]="'results'"
             loading="lazy"
             class="collection-item-img">
        <div>
            <h3 class="collection-item-detail">
                Topologies
            </h3>
        </div>
    </a>

    <a href="./#/database" class="collection-item collection-item-container">
        <img [src]="'./assets/categories/benchmarks.svg'"
             [alt]="'results'"
             loading="lazy"
             class="collection-item-img">
        <div>
            <h3 class="collection-item-detail">
                Benchmarks
            </h3>
        </div>
    </a>

    <a href="./#/database" class="collection-item collection-item-container">
        <img [src]="'./assets/categories/operating-systems.svg'"
             [alt]="'results'"
             loading="lazy"
             class="collection-item-img">
        <div>
            <h3 class="collection-item-detail">
                Operating Systems
            </h3>
        </div>
    </a>

    <a href="./#/database" class="collection-item collection-item-container">
        <img [src]="'./assets/categories/elpidas.svg'"
             [alt]="'results'"
             loading="lazy"
             class="collection-item-img">
        <div>
            <h3 class="collection-item-detail">
                Elpida Versions
            </h3>
        </div>
    </a>
</div>
