.results-list {
    display: flex;
    flex-direction: column;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;

    margin-bottom: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.14);
    background: linear-gradient(90deg, rgba(203, 199, 247, 1) 0%, rgba(203, 199, 247, 0) 100%);

    text-decoration: none;
    color: #454545;
}

.result-item:hover {
    background: linear-gradient(90deg, rgba(221, 219, 243, 1) 0%, rgba(221, 219, 243, 0) 100%);
}

.result-detail {
    margin-top: 0;
    margin-bottom: 0;
}

.results-container {
    display: flex;
    flex-flow: row wrap;
}

.results-panel {
    flex-grow: 2;
}

.loading-indicator {
    position: relative;
    left: 50%;
    top: 50%;
}
