.results-list {
    display: flex;
    flex-direction: column;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    background: linear-gradient(90deg, rgba(203, 199, 247, 1) 0%, rgba(203, 199, 247, 0) 100%);

    border-bottom: 0.1rem solid transparent;
    border-image: linear-gradient(90deg, rgba(158, 159, 238, 1) 0%, rgba(158, 159, 238, 0) 100%) 5;

    text-decoration: none;
    color: #454545;
}

.result-item:hover {
    background: linear-gradient(90deg, rgba(221, 219, 243, 1) 0%, rgba(221, 219, 243, 0) 100%);
}

.result-detail {
    margin-top: 0;
    margin-bottom: 0;
}

.results-container {
    display: flex;
    flex-flow: row wrap;
}

.results-panel {
    flex-grow: 2;
}
