body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    color: #454545;
    background-color: rgb(229, 232, 253);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-attachment: fixed;
    background-image: url("./assets/Elpida-o.svg");
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto 1fr;
    margin: 0;
    overflow: hidden;
}

app-root {
    overflow: auto;
    max-height: 100vh;
    background: rgba(229, 232, 253, 0.75);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-sized {
    width: 100%;
}

.contentContainer {
    padding: 1rem;
    background-color: rgba(229, 232, 253, 0.85);
    -webkit-box-shadow: 0 0 29px 32px rgba(229, 232, 253, 0.85);
    -moz-box-shadow: 0 0 29px 32px rgba(229, 232, 253, 0.85);
    box-shadow: 0 0 29px 32px rgba(229, 232, 253, 0.85);
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .container-sized {
        max-width: 95%;
    }
}

@media (min-width: 992px) {
    .container-sized {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .container-sized {
        max-width: 65%;
    }
}

@media (min-width: 1600px) {
    .container-sized {
        max-width: 50%;
    }
}

div {
    background: transparent;
}

code {
    color: #e01a76;
}

.button {
    display: flex;
    background-color: rgb(203, 199, 247);
    border: 0.05rem solid rgb(158, 159, 238);
    min-width: 8rem;
    text-align: center;
    border-radius: 0;
    font-weight: lighter;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    color: #454545;
    text-decoration: none;
    transition: background 0.2s ease;
}

.button:hover {
    background-color: rgb(221, 219, 243);
    color: black;
}

.button.active {
    background-color: rgb(137, 142, 226);
    color: white;
}

.button.disabled, .button.disabled:hover {
    background-color: rgb(212, 219, 224);
}

.non-a-button {
    user-select: none;
    cursor: pointer;
}

.button-default-size {
    padding: 1rem;
    min-width: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

strong {
    font-weight: bold;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.25rem;
}

hr {
    border: 0.05rem rgb(171, 173, 228) solid;
}
