<h2>Choose what type of statistics you want to see</h2>
<app-group-box [title]="'Top cpus by benchmark'">
    <app-paged-collection [service]="benchmarkService"
                          [name]="'Benchmarks'"
                          [showFilters]="true"
                          [showSearchBox]="true">
        <ng-template #itemTemplate let-model="context">
            <ng-container *ngIf="toItem(model); let item">
                <a class="button collection-item-link" [routerLink]="['/Statistics/Top-Cpus-By-Benchmark/', item.id]">
                    <img [alt]="item.name +  'image'" [src]="imageLinksService.getBenchmarkImage(item.uuid)" class="collection-item-icon" loading="lazy">
                    <span class="collection-item-name">
                {{item.name}}
            </span>
                </a>
            </ng-container>
        </ng-template>
    </app-paged-collection>
</app-group-box>