<div class="filter-component-container">

    <div class="buttons-container">
        <div class="button non-a-button button-default-size"
             (click)="advanced = false"
             [ngClass]="{'active': !advanced}">
            Simple Filters
        </div>
        <div class="button non-a-button button-default-size"
             (click)="advanced = true"
             [ngClass]="{'active': advanced}">
            Advanced Filters
        </div>
    </div>

    <app-advanced-filters *ngIf="advanced; else elseBlock"
                          (submitted)="onSubmit($event)"
                          [service]="service">

    </app-advanced-filters>
    <ng-template #elseBlock>
        <app-simple-filters (submitted)="onSubmit($event)"
                            [service]="service">

        </app-simple-filters>
    </ng-template>
</div>
