.filter-component-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.14);
}


.buttons-container {
    display: flex;
    flex-direction: row;
    place-content: center;
    margin-bottom: 1rem;
}
